/* 
Color Palette:
    Platinum    - #DBDBDB
    Eerie Black - #202528
    Oxford Blue - #112A4E
    Cardinal    - #AD343E
    Blue (NCS)  - #0094C6
*/

.dropdown-item:active {
	background-color: #112a4e;
}

.active-link {
	color: #ad343e;
}

/* Hide the nav menu by default on small screens */
.navbar-menu {
	display: none;
}

/* Show menu when toggled */
.navbar-menu.open {
	display: block;
}

/* Show the toggle button only on small screens */
@media (max-width: 768px) {
	.navbar-toggler {
		display: block;
	}

	/* Adjust nav styles for small screens */
	/* For larger screens, show nav normally */
	.navbar-menu {
		display: block !important;
	}
}

nav {
	position: fixed;
}
